<html>
    <head>
        <title>BusTracker</title>
        <link rel="shortcut icon" href="/images/logo.png" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <% if(user.idf==null){%>
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <% } else {%>
        <link rel="stylesheet" href="/stylesheets/dashstyle.css"> 
        <% } %>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><b>TrackIt</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if(user.idf==null){%>
        <li class="nav-item active">
        <a class="nav-link" href="/security/login">Login</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/security/signin">Register</a>
        </li>
        <% } else {%>
        <li class="nav-item active">
        <a class="nav-link" href="/security/logout">Logout</a>
        </li>
         <% } %>
      </ul>
    </div>
  </nav>
  <%if(user.error!=null){%>
  <div class="alert alert-warning" role="alert">
    <center><%=user.error%></center>
  </div>
  <% } %>
