<% include ../partials/header %>
<% include ../partials/sidepanel %>

<div class="container">
    
    <p><%=user.message%></p>
    <span class="time-right"><%=user.time%></span>
  </div>
  



</div>
</div>
<!--/row-->
<!--/card-columns-->            
</div><!--/row-->

</div>
<!--/main col-->



<% include ../partials/footer%>