<% include ../partials/header %>
<% include ../partials/sidepanel %>

<div class="contain">
    <div class="bubble">
      <p><%=user.message%></p>
      <span class="time-right btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i><%=user.time%></span>
      <span class="time-right btn btn-primary"><i class="fa  fa-map-marker" aria-hidden="true"></i>Get Location</span>
      <span class="time-right btn btn-primary"><i class="fa fa-ambulance" aria-hidden="true"></i>Send Emergency</span>
    </div>

    <div class="btn btn-primary" style="position: relative;
    left: 299px;
    top: 485px;">Close conversation</div>


</div>
  



</div>
</div>
<!--/row-->
<!--/card-columns-->            
</div><!--/row-->

</div>
<!--/main col-->



<% include ../partials/footer%>