<% include ../partials/header %>
<% include ../partials/sidepanel %>


        <div class="col main pt-5 mt-3">
            <h1 class="display-4 d-none d-sm-block ">
            Track
            </h1>
            <p class="lead d-none d-sm-block">Welcome <%=user.namef%>,Let's Track!</p>

            <!-- <div class="row mb-3 "> -->
                
                <%for (i = 0; i <user.bus.length ; i++){%>
                <% if(i%4==0||i==0){%> <div class="row mb-3 "> <%}%>

                <div class="col-xl-3 col-sm-6 py-2" >
                    <a style="text-decoration: none" href="/security/dashboard/<%=user.bus[i]%>"><div class="card bg-info text-white h-100">
                        <div class="card-body bg-info">
                            <div class="rotate">
                                <i class="fa fa-map-marker fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase"><%=user.location[i]%></h6>
                            <h1 class="display-4"><%=user.bus[i]%></h1>
                        </div>
                    </div></a>
                </div>
                <% if((i+1)%4 ==0||user.bus[i+1]==null){%></div> <%}%>
                <%}%>
                
                
                
            </div>
            <!--/row-->
            <!--/card-columns-->            
            </div><!--/row-->

        </div>
        <!--/main col-->



<% include ../partials/footer%>